@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #eeeeef;
  background: #f8f8fa;
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: #ccc;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background: #15151c;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }
}
